/* Load lichess family for icons */
@font-face {
	font-family: 'lichess';
	src: url('lichess.woff2') format('woff2'), url('lichess.woff') format('woff'); 
}

/* General body styling */
body {
	background: #161512;
	color: #BABABA;
	font-family: 'Roboto', serif;
	overflow-y: scroll;
}

/* Invisible table containing the entire content */
table.content {
	background: #262421;
	border: 0px #000000 solid; 
	border-spacing: 0px; 
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	min-width: 800px;
	max-width: 800px;
	table-layout: fixed;
	/*width: 900px;*/
}

/* General URL styling */
a, a:hover, a:link, a:visited {
	color: #2F86E7;
	text-decoration: none;
}

/* Inactive URL styling */
a.closed, a.closed:hover, a.closed:link, a.closed:visited {
	color: #555555;
	text-decoration: none;
}

/* Styling mouse-over information */
span.info {
	/*text-decoration: underline; 
	text-decoration-style: dotted; */
	cursor: help;
}

span.title {
	color: #BF811D;
}
span.dgreen {
	color: #629924; 
}

/* Menu for navigation */
th.variant {
	color: #444444;
	font-size: 20pt;
	font-weight: normal;
	background: #161512;
}
a.variant, a.variant:link, a.variant:visited {
	color: #BF811D;
	text-decoration: none;
}
a.variant:hover {
	color: #629924;
	text-decoration: none;
}
th.type {
	color: #444444;
	font-size: 9pt;
	font-weight: normal;
	background: #161512;
	padding-bottom: 10pt;
}
a.type, a.type:link, a.type:visited {
	color: #BF811D;
	text-decoration: none;
}
a.type:hover {
	color: #629924;
	text-decoration: none;
}
a.active, a.active:link, a.active:visited {
	color: #629924;
	text-decoration: none;
}
a.active:hover {
	color: #629924;
	text-decoration: none;
}

/* Title above the page */
th.title {
	color: #BF811D;
	font-size: 26pt;
	padding-top: 10px;
	padding-bottom: 10px;
}
div.lefticon, div.righticon {
	width: 100px;
	display: inline;
	font-family: lichess;
	font-size: 24pt;
}
div.lefticon {
	float: left;
	text-align: left;
	padding-left: 10px;
}
div.righticon {
	float: right;
	text-align: right;
	padding-right: 10px;
}

/* Sorting rankings */
th.sort {
	color: #BF811D;
	font-size: 9pt;
	font-weight: normal;
}
a.sort, a.sort:link, a.sort:visited {
	color: #BF811D;
	text-decoration: underline;
}
a.sort:hover {
	color: #629924;
	text-decoration: none;
}

/* Information box */
th.info {
	text-align: left;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	font-style: italic;
}

a.back, a.back:link, a.back:visited {
	color: #BF811D;
	text-decoration: underline;
}
a.back:hover {
	color: #629924;
	text-decoration: none;
}

/* Styling the ranking table */
tr.even {
	background: #262626;
}
tr.odd {
	background: #303030;
}
tr.even:hover, tr.odd:hover {
	background: #505050;
}

/* Ranking table entries */
th.rank, td.rank {
	width: 50px;
	text-align: right;
}
th.fidetitle, td.fidetitle {
	width: 50px; 
	text-align: right;
	color: #BF811D;
	font-weight: bold;
}
th.username, td.username {
	width: 200px;
	text-align: left;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
th.gold, td.gold {
	width: 50px;
	color: #FFCB37;
	text-align: center;
}
th.silver, td.silver {
	width: 50px;
	color: #CFC2AA;
	text-align: center;
}
th.bronze, td.bronze {
	width: 50px;
	color: #FF7846;
	text-align: center;
}
th.points, td.points {
	width: 70px; 
	text-align: right;
	color: #629924; 
	font-weight: bold;
}
th.events, td.events {
	width: 70px; 
	text-align: left;
}
th.avg, td.avg {
	width: 40px;
	text-align: right;
}
th.max, td.max {
	width: 60px;
	text-align: right;
	padding-right: 30px;
}

/* Information/statistics pages */
th.about {
	text-align: left;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	font-style: normal;
}
h1.about {
	color: #BF811D;
	font-size: 20pt;
	padding-top: 10px;
	padding-bottom: 0px;
}
h2.stats {
	color: #BF811D;
	font-size: 14pt;
	text-align: center;
	padding-top: 20px;
	padding-bottom: -10px;
}
h2.head {
	color: #BF811D;
	font-size: 16pt;
	padding-top: 10px;
	padding-bottom: 0px;
}

table.stats, th.stats, td.stats {
	border: 1px white;
}
table.stats {
	border-collapse: collapse;
}
th.stats, th.statslast {
	color: #BF811D;
	font-size: 16pt;
	font-family: lichess;
	text-align: right;
}
th.statslast {
	text-align: right;
	padding-right: 15px;
}
td.statshead {
	color: #BF811D;
	text-align: right;
	font-weight: normal;
}
td.stats, td.statslast {
	font-weight: normal;
	font-size: 11pt;
}
td.statslast {
	padding-right: 15px;
}

table.minitable {
	margin-left: auto; 
	margin-right: auto;
	border-spacing: 10px 2px; 
	border-collapse: collapse; 
	padding: 50px;
	width: 235px;
}
th.minitable {
	text-align: center; 
	padding-top: 5px;
	color: #BF811D;
	font-weight: bold;
	font-size: 13pt;
}
td.minitabletitle {
	width: 20px;
	text-align: right;
	padding-left: 10px;
	padding-right: 5px;
	max-width: 20px;
}
td.minitablename {
	width: 300px;
	text-align: left;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
td.minitablescore {
	width: 50px;
	text-align: right;
	padding-right: 10px;
	max-width: 50px;
}
td.minitablefoot {
	color: #888888; 
	font-size: 10pt;
	text-align: center;
	font-style: italic;
}