:root{

	/* Variant colors */
	--CV3check: 		rgb(204, 255, 144);
	--CVantichess: 		rgb(255, 255, 141);
	--CVatomic: 		rgb(255, 229, 127);
	--CVblitz: 			rgb(140, 158, 255);
	--CVbullet: 		rgb(234, 128, 252);
	--CVchess960: 		rgb(167, 255, 235);
	--CVclassical: 		rgb(128, 216, 255);
	--CVcrazyhouse: 	rgb(132, 255, 255);
	--CVhorde: 			rgb(255, 209, 128);
	--CVhyperbullet: 	rgb(255, 128, 171);
	--CVkoth: 			rgb(185, 246, 202);
	--CVracingkings: 	rgb(255, 158, 128);
	--CVrapid: 			rgb(130, 177, 255);
	--CVsuperblitz: 	rgb(179, 136, 255);
	--CVultrabullet: 	rgb(255, 138, 128);
	--CVall: 			rgb(200, 200, 200);

	/* Event colors */
	--CE1300: 			rgb(255, 205, 210);
	--CE1500: 			rgb(248, 187, 208);
	--CE1600: 			rgb(225, 190, 231);
	--CE1700: 			rgb(209, 196, 233);
	--CE2000: 			rgb(197, 202, 233);
	--CEthematic: 		rgb(187, 222, 251);
	--CEeastern: 		rgb(179, 229, 252);
	--CEhourly: 		rgb(178, 235, 242);
	--CEdaily: 			rgb(178, 223, 219);
	--CEweekly: 		rgb(200, 230, 201);
	--CEmonthly: 		rgb(220, 237, 200);
	--CEyearly: 		rgb(240, 244, 195);
	--CEshield: 		rgb(255, 249, 196);
	--CEelite: 			rgb(255, 236, 179);
	--CEtitled: 		rgb(255, 224, 178);
	--CEmarathon: 		rgb(255, 204, 188);
	--CEliga: 			rgb(215, 204, 200);
	--CEall: 			rgb(200, 200, 200);
}
