:root{
	--VariantGreen: 	#629924;
	--TitleGold: 		#BF811D;
	--ClosedGray: 		#555555;
	--LinkBlue: 		#2F86E7;
	--LinkHover: 		rgb(73, 174, 255);
	--TrophyGold: 		#FFCB37;
	--TrophySilver: 	#CFC2AA;
	--TrophyBronze: 	#FF7846;
	--ListOdd: 			#262626;
	--ListEven: 		#303030;
	--ListHover: 		#404040;
	
	/* From Lichess */
	/*--CVall: 			#BABABA;
	
	--CV3check: 		rgb(204, 121, 167);
	--CVantichess: 		rgb(223, 83, 83);
	--CVatomic: 		rgb(102, 85, 140);
	--CVblitz: 			rgb(0, 114, 178);
	--CVbullet: 		rgb(86, 180, 233);
	--CVchess960: 		rgb(230, 159, 0);
	--CVclassical: 		rgb(69, 159, 59);
	--CVcrazyhouse: 	rgb(86, 180, 233);
	--CVhorde: 			rgb(153, 230, 153);
	--CVhyperbullet: 	rgb(86, 180, 233);
	--CVkoth: 			rgb(213, 94, 0);
	--CVracingkings: 	rgb(255, 174, 170);
	--CVrapid: 			rgb(0, 158, 115);
	--CVsuperblitz: 	rgb(0, 114, 178);
	--CVultrabullet: 	rgb(0, 158, 115);*/

}

/* Load lichess family for icons */
@font-face {
	font-family: 'lichess';
	src: url('lichess.woff2') format('woff2'), url('lichess.woff') format('woff'); 
}

/* General body styling */
body {
	background: #161512;
	color: #BABABA;
	font-family: 'Roboto', serif;
	overflow-y: scroll;
	text-align: center;
	min-height: 95vh;
}

/* General URL styling */
a, a:link, a:visited {
	color: var(--LinkBlue);
	text-decoration: none;
}

a:hover {
	color: var(--LinkHover);
}

/* Inactive URL styling */
a.closed, a.closed:hover, a.closed:link, a.closed:visited {
	color: #555555;
	text-decoration: none;
}

h1 {
	text-align: center;
}

img.Graph{
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 650px;
	max-width: 650px;
}



.V3check 		{color: var(--CV3check);}
.Vantichess	 	{color: var(--CVantichess);}
.Vatomic 		{color: var(--CVatomic);}
.Vblitz 		{color: var(--CVblitz);}
.Vbullet 		{color: var(--CVbullet);}
.Vchess960 		{color: var(--CVchess960);}
.Vclassical 	{color: var(--CVclassical);}
.Vcrazyhouse 	{color: var(--CVcrazyhouse);}
.Vhorde 		{color: var(--CVhorde);}
.Vhyperbullet 	{color: var(--CVhyperbullet);}
.Vkoth 			{color: var(--CVkoth);}
.Vracingkings 	{color: var(--CVracingkings);}
.Vrapid 		{color: var(--CVrapid);}
.Vsuperblitz 	{color: var(--CVsuperblitz);}
.Vultrabullet 	{color: var(--CVultrabullet);}
.Vall 			{color: var(--CVall);}

.Ehourly 		{color: var(--CEhourly);}
.E2000 			{color: var(--CE2000);}
.E1700 			{color: var(--CE1700);}
.E1600 			{color: var(--CE1600);}
.E1500 			{color: var(--CE1500);}
.E1300 			{color: var(--CE1300);}
.Ethematic 		{color: var(--CEthematic);}
.Edaily 		{color: var(--CEdaily);}
.Eweekly 		{color: var(--CEweekly);}
.Emonthly 		{color: var(--CEmonthly);}
.Eyearly 		{color: var(--CEyearly);}
.Eeastern 		{color: var(--CEeastern);}
.Eelite 		{color: var(--CEelite);}
.Eshield 		{color: var(--CEshield);}
.Etitled 		{color: var(--CEtitled);}
.Emarathon	 	{color: var(--CEmarathon);}
.Eliga	 		{color: var(--CEliga);}
.Eall 			{color: var(--CEall);}

/* Styling mouse-over information */
span.info {
	cursor: help;
}


div.title {
	top: 10px;
	text-align: center;
	font-size: 20pt;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}



span.maincontent {
	position: absolute; 
	left: 50%; 
	display: block; 
	overflow-y: scroll; 
	top: 105px; 
	scrollbar-color: #333333 #111111 !important; 
	height: calc(100vh - 110px); 
	transform: translateX(-50%); 
	min-width: 820px; 
	max-width: 820px; 
	border: 0px #FF0000 solid;
	text-align: left;
	font-size: 10pt;
}

span.laddercontent {
	position: absolute; 
	left: 50%; 
	display: block; 
	overflow-y: scroll; 
	top: 65px; 
	scrollbar-color: #333333 #111111 !important; 
	height: calc(100vh - 70px); 
	transform: translateX(-50%); 
	min-width: 820px; 
	max-width: 820px; 
	border: 0px #FF0000 solid;
	text-align: left;
	font-size: 10pt;
}

/* ========================
	RANKING FIGURE
======================== */

img.RankingPlot {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ========================
	PLAYERS LIST TABLE 
======================== */

table.LadderList {
	background: #262421;
	border: 0px #000000 solid; 
	border-spacing: 0px; 
	padding: 0px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-width: 800px;
	max-width: 800px;
	table-layout: fixed;
	font-size: 11pt;
}

table.LadderList tbody tr:nth-child(odd) {
	background: var(--ListOdd);
}

table.LadderList tbody tr:nth-child(even) {
	background: var(--ListEven);
}

table.LadderList tbody tr:hover:nth-child(1n+1) {
	background: var(--ListHover);
}

table.LadderList tr td:nth-child(1), 
table.LadderList tr th:nth-child(1) {	/* Column 1: Ranking */
	min-width: 30px;
	max-width: 30px;
	text-align: right;
	padding-left: 10px;
}

table.LadderList tr td:nth-child(2), 
table.LadderList tr th:nth-child(2) {	/* Column 2: Title */
	min-width: 35px; 
	max-width: 35px; 
	color: var(--TitleGold);
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

table.LadderList tr td:nth-child(3), 
table.LadderList tr th:nth-child(3) {	/* Column 3: Username */
	min-width: 130px;
	max-width: 130px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.LadderList tr td:nth-child(4), 
table.LadderList tr th:nth-child(4) {	/* Column 4: Ladder ranking */
	min-width: 45px; 
	max-width: 45px; 
	color: var(--TrophyGold);
	font-weight: bold;
	text-align: center;
}

table.LadderList tr td:nth-child(5), 
table.LadderList tr th:nth-child(5) {	/* Column 5: Bullet maximum */
	min-width: 45px; 
	max-width: 45px;
	color: var(--TrophySilver);
	text-align: center;
}

table.LadderList tr td:nth-child(6), 
table.LadderList tr th:nth-child(6) {	/* Column 6: Latest bullet */
	min-width: 45px; 
	max-width: 45px;
	color: var(--TrophyBronze);
	text-align: center;
}

table.LadderList tr td:nth-child(7), 
table.LadderList tr th:nth-child(7) {	/* Column 7: Total games */
	min-width: 50px; 
	max-width: 50px; 
	color: #629924; 
	text-align: right;
	font-weight: bold;
}

table.LadderList tr td:nth-child(8), 
table.LadderList tr th:nth-child(8) {	/* Column 8: Top games */
	min-width: 60px; 
	max-width: 60px; 
	text-align: left;
	padding-left: 5px;
	dclor: var(--TrophySilver);
}

table.LadderList tr td:nth-child(9), 
table.LadderList tr th:nth-child(9) {	/* Column 9: First - Last */
	min-width: 90px; 
	max-width: 90px; 
	padding-left: 5px;
	text-align: center;
}

table.LadderList tr td:nth-child(10), 
table.LadderList tr th:nth-child(10) {	/* Column 11: Percentage */
	min-width: 60px; 
	max-width: 60px; 
	text-align: center;
}

/* ========================
	PLAYERS LIST TABLE 
======================== */

table.PlayersList {
	background: #262421;
	border: 0px #000000 solid; 
	border-spacing: 0px; 
	padding: 0px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-width: 800px;
	max-width: 800px;
	table-layout: fixed;
	font-size: 11pt;
}

table.PlayersList tbody tr:nth-child(odd) {
	background: var(--ListOdd);
}

table.PlayersList tbody tr:nth-child(even) {
	background: var(--ListEven);
}

table.PlayersList tbody tr:hover:nth-child(1n+1) {
	background: var(--ListHover);
}

table.PlayersList tr td:nth-child(1), 
table.PlayersList tr th:nth-child(1) {	/* Column 1: Ranking */
	min-width: 30px;
	max-width: 30px;
	text-align: right;
	padding-left: 10px;
}

table.PlayersList tr td:nth-child(2), 
table.PlayersList tr th:nth-child(2) {	/* Column 2: Title */
	min-width: 35px; 
	max-width: 35px; 
	color: var(--TitleGold);
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

table.PlayersList tr td:nth-child(3), 
table.PlayersList tr th:nth-child(3) {	/* Column 3: Username */
	min-width: 130px;
	max-width: 130px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.PlayersList tr td:nth-child(4), 
table.PlayersList tr th:nth-child(4) {	/* Column 4: Gold medals */
	min-width: 40px; 
	max-width: 40px; 
	color: var(--TrophyGold);
	text-align: center;
}

table.PlayersList tr td:nth-child(5), 
table.PlayersList tr th:nth-child(5) {	/* Column 5: Silver medals */
	min-width: 40px; 
	max-width: 40px; 
	color: var(--TrophySilver);
	text-align: center;
}

table.PlayersList tr td:nth-child(6), 
table.PlayersList tr th:nth-child(6) {	/* Column 6: Bronze medals */
	min-width: 40px; 
	max-width: 40px; 
	color: var(--TrophyBronze);
	text-align: center;
}

table.PlayersList tr td:nth-child(7), 
table.PlayersList tr th:nth-child(7) {	/* Column 7: Points */
	min-width: 50px; 
	max-width: 50px; 
	text-align: right;
	color: #629924; 
	font-weight: bold;
}

table.PlayersList tr td:nth-child(8), 
table.PlayersList tr th:nth-child(8) {	/* Column 8: Events */
	min-width: 60px; 
	max-width: 60px; 
	padding-left: 5px;
	text-align: left;
}

table.PlayersList tr td:nth-child(9), 
table.PlayersList tr th:nth-child(9) {	/* Column 9: First-Last */
	min-width: 90px; 
	max-width: 90px; 
	text-align: center;
}

table.PlayersList tr td:nth-child(10), 
table.PlayersList tr th:nth-child(10) {	/* Column 10: Average */
	min-width: 40px;
	max-width: 40px;
	text-align: right;
}

table.PlayersList tr td:nth-child(11), 
table.PlayersList tr th:nth-child(11) {	/* Column 11: Maximum */
	min-width: 50px;
	max-width: 50px;
	text-align: right;
	padding-right: 20px;
}

/* ========================
	ARENAS LIST TABLE 
======================== */

table.ArenasList {
	background: #262421;
	border: 0px #000000 solid; 
	border-spacing: 0px; 
	padding: 0px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-width: 800px;
	max-width: 800px;
	table-layout: fixed;
	font-size: 11pt;
}

/*table.ArenasList thead th { 
	background: 
}*/

table.ArenasList tbody tr:nth-child(odd) {
	background: var(--ListOdd);
}

table.ArenasList tbody tr:nth-child(even) {
	background: var(--ListEven);
}

table.ArenasList tbody tr:hover:nth-child(1n+1) {
	background: var(--ListHover);
}

table.ArenasList tr td:nth-child(1), 
table.ArenasList tr th:nth-child(1) {	/* Column 1: Ranking */
	min-width: 30px;
	max-width: 30px;
	text-align: right;
	padding-left: 10px;
}

table.ArenasList tr td:nth-child(2), 
table.ArenasList tr th:nth-child(2) {	/* Column 2: Arena ID */
	min-width: 70px; 
	max-width: 70px;
	text-align: right;
	padding-right: 5px;
	font-family: monospace;
}

table.ArenasList tr td:nth-child(3), 
table.ArenasList tr th:nth-child(3) {	/* Column 3: Type */
	min-width: 50px;
	max-width: 50px;
	text-align: right;
	font-family: monospace;
}

table.ArenasList tr td:nth-child(4), 
table.ArenasList tr th:nth-child(4) {	/* Column 4: Date */
	min-width: 90px; 
	max-width: 90px; 
	text-align: right;
}

table.ArenasList tr td:nth-child(5), 
table.ArenasList tr th:nth-child(5) {	/* Column 5: Participants */
	min-width: 50px; 
	max-width: 50px; 
	color: var(--TrophyGold);
	text-align: right;
}

table.ArenasList tr td:nth-child(6), 
table.ArenasList tr th:nth-child(6) {	/* Column 6: Average rating */
	min-width: 50px; 
	max-width: 50px; 
	color: var(--TrophyBronze);
	text-align: right;
}

table.ArenasList tr td:nth-child(7), 
table.ArenasList tr th:nth-child(7) {	/* Column 7: Points */
	min-width: 40px; 
	max-width: 40px;
	text-align: right;
	color: #629924; 
}

/*table.ArenasList tr td:nth-child(8), 
table.ArenasList tr th:nth-child(8) {	/* Column 8: Games */
/*	width: 40px; 
	max-width: 40px;
	text-align: right;
}*/

table.ArenasList tr td:nth-child(8), 
table.ArenasList tr th:nth-child(8) {	/* Column 9: Moves */
	min-width: 40px;
	max-width: 40px;
	text-align: right;
	color: var(--TrophySilver);
}

table.ArenasList tr td:nth-child(9), 
table.ArenasList tr th:nth-child(9) {	/* Column 10: Berserk */
	min-width: 40px;
	max-width: 40px;
	text-align: right;
	padding-right: 10px;
}

table.ArenasList tr td:nth-child(10), 
table.ArenasList tr th:nth-child(10) {	/* Column 10: Winner */
	min-width: 130px;
	max-width: 130px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.ArenasList tr td:nth-child(11), 
table.ArenasList tr th:nth-child(11) {	/* Column 10: Maximum */
	min-width: 30px;
	max-width: 30px;
	text-align: right;
	padding-right: 20px;
}












span.title {
	color: #BF811D;
}
span.dgreen {
	color: #629924; 
}


/* Title above the page */
th.title {
	color: #BF811D;
	font-size: 26pt;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* Information box */
th.info {
	text-align: left;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	font-style: italic;
}



/* Information/statistics pages */
th.about {
	text-align: left;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	font-style: normal;
}
h1.about {
	color: #BF811D;
	font-size: 20pt;
	padding-top: 10px;
	padding-bottom: 0px;
}
h2.stats {
	color: #BF811D;
	font-size: 14pt;
	text-align: center;
	padding-top: 20px;
	padding-bottom: -10px;
}
h2.head {
	color: #BF811D;
	font-size: 16pt;
	padding-top: 10px;
	padding-bottom: 0px;
}

table.stats, th.stats, td.stats {
	border: 1px white;
}
table.stats {
	border-collapse: collapse;
}
th.stats, th.statslast {
	color: #BF811D;
	font-size: 16pt;
	font-family: lichess;
	text-align: right;
}
th.statslast {
	text-align: right;
	padding-right: 15px;
}
td.statshead {
	color: #BF811D;
	text-align: right;
	font-weight: normal;
}
td.stats, td.statslast {
	font-weight: normal;
	font-size: 11pt;
}
td.statslast {
	padding-right: 15px;
}

table.minitable {
	margin-left: auto; 
	margin-right: auto;
	border-spacing: 10px 2px; 
	border-collapse: collapse; 
	padding: 50px;
	width: 235px;
}
th.minitable {
	text-align: center; 
	padding-top: 5px;
	color: #BF811D;
	font-weight: bold;
	font-size: 13pt;
}
td.minitabletitle {
	width: 20px;
	text-align: right;
	padding-left: 10px;
	padding-right: 5px;
	max-width: 20px;
}
td.minitablename {
	width: 300px;
	text-align: left;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
td.minitablescore {
	width: 50px;
	text-align: right;
	padding-right: 10px;
	max-width: 50px;
}
td.minitablefoot {
	color: #888888; 
	font-size: 10pt;
	text-align: center;
	font-style: italic;
}







/* Fixing scrollbars on different platforms */

::-webkit-scrollbar {
  width: 10px; 
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  outline: 1px solid #333333;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #333333;
}

@-moz-document url-prefix() {
  .scroller {
    scrollbar-width: 10px;
    scrollbar-color: #333333;
  }
}


/* Dropdown menu */

.dropdown-el {
	position: absolute;
	display: inline-block;
	margin-right: 1em;
	min-height: 1.7em;
	max-height: 1.7em;
	overflow: hidden;
	top: 5px;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	/* color: #444444; */
	outline: none;
	border-radius: 1em;
	background-color: #333333;
	transition: 0.2s all ease-in-out;			/* Duration for menu to unfold and refold */
	font-size: 13pt;
}
# round radio box; hide by making small
.dropdown-el input:focus + label {
	background: #ddeeff;
}
.dropdown-el input {
	width: 1px;
	height: 1px;
	display: inline-block;
	position: absolute;
	opacity: 0.01;
}
.dropdown-el label {
	display: block;
	height: 1.7em;
	line-height: 1.7em;
	padding-left: 0.8em;
	padding-right: 3em;
	cursor: pointer;
	position: relative;
	transition: 0.0s color ease-in-out;			/* Duration for hover color to appear in menu */
}
.dropdown-el label:nth-child(2) {
	margin-top: 1.7em;
}
.dropdown-el input:checked + label {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
	margin-top: 0;
	position: relative;
}
.dropdown-el::after {
	content: "";
	position: absolute;
	right: 0.8em;
	top: 0.7em;
	border: 0.3em solid #666666; 		/* #3694d7; */
	border-color: #666666 transparent transparent transparent; 	/* #3694d7; */
	transition: 0.3s all ease-in-out;			/* Duration for triangle to rotate */
}
.dropdown-el.expanded {
	border: 1px solid var(VariantGreen); 	/* #3694d7; */
	border-radius: 0.25em;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
	max-height: 35em;
}
.dropdown-el.expanded label {
}
.dropdown-el.expanded label:hover {
	/*color: var(--LinkBlue);		*/
	background: #555555;
}

/*.dropdown-el.expanded input:checked + label {
	color: #BABABA;					/* #3694d7; */
/*}*/
.dropdown-el.expanded::after {
	transform: rotate(-180deg);
	top: 0.35em;
}
.VariantIcon {
	float: left; 
	font-family: lichess; 
	font-size: 14pt;
	padding-right: 5px;
	top: 7px;
}

div.menu {
	width: 800px; 
	margin-top: 0px; 
	border: 0px #FF0000 solid; 
	position: relative; 
	left: 50%; 
	transform: translateX(-50%); 
	z-index: 99 !important;
}
